    RESOLVE_EMAIL=
    RESOLVE_PASSWORD=
    RESOLVE_LOGIN_URL=
    RESOLVE_SCANTOPAY_REPORT_URL=
    SAFETYPARK_EMAIL=
    SAFETYPARK_PASSWORD=
    SAFETYPARK_LOGIN_URL=
    SAFETYPARK_SHIFT_REPORT_URL=

    APP_PASSWORD=